<div class="container advisee-details">
  <div id="advisee-data" data-id="<%= @advisee.id %>" />

  <%= render partial: 'advisees/details' %>

  <%= link_to 'Edit Advisee', edit_advisee_path(@advisee), class: 'btn primary' %>

  <button data-target="delete-advisee-modal" class="btn danger modal-trigger">
    Delete Advisee
  </button>
  <%= render partial: 'advisees/delete_modal', locals: { advisee: @advisee } %>

  <div class="row notes-and-meetings">
    <div class="col s12 m6">
      <h5 class="title">Notes</h5>
      <div id="advisee-notes">
        <% if @notes.count == 0 %>
          <p>
            There are no notes for this advisee.
          </p>
          <button class="btn primary">
            <i class="material-icons left">add</i> Add Note
          </button>
        <% end %>

        <% @notes.each do |note| %>
          <div class="note">
            <p>
              <%= note.body %>
            </p>
            <h4><%= note.updated_at %></h4>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col s12 m6">
      <h5 class="title">Meetings</h5>
      <div id="advisee-meetings">
      </div>
    </div>
  </div>

</div>
