<div class="container advisee-details">
  <div id="advisee-data" data-id="<%= @advisee.id %>" />

  <div class="row">
    <div class="col s12 m3 photo">
      <img src="<%= @advisee.photo_url %>"
           alt="<%= "Photo of #{@advisee.full_name}" %>"
           class="responsive-img circle" />
    </div>
    <div class="col s12 m9">
      <h2><%= @advisee.full_name %> <small>(<%= @advisee.email %>)</small></h2>
      <h3><%= @advisee.graduation_semester %> <%= @advisee.graduation_year %></h3>
    </div>
  </div>

  <%= link_to 'Edit Advisee', edit_advisee_path(@advisee), class: 'btn' %>

  <button data-target="delete-advisee-modal" class="btn danger modal-trigger">
    Delete Advisee
  </button>
  <%= render partial: 'advisees/delete_modal', locals: { advisee: @advisee} %>

  <div id="advisee-notes">
    <% if @notes.count == 0 %>
      <p>
        There are no notes for this advisee.
      </p>
      <button class="btn">
        <i class="material-icons left">add</i> Add Note
      </button>
    <% end %>

    <% @notes.each do |note| %>
      <div class="note">
        <p>
          <%= note.body %>
        </p>
        <h4><%= note.updated_at %></h4>
      </div>
    <% end %>
  </div>
</div>
