<div class="container meeting-details">
  <div id="meeting-data"
       data-id="<%= @meeting.id  %>"
       data-start="<%= @meeting.start_time.to_datetime.to_s %>"
       data-end="<%= @meeting.end_time.to_datetime.to_s %>" />

  <h1>Meeting</h1>
  <h4>
    <div id="meeting-time">
      <%= @meeting.formatted_time %>
    </div>
  </h4>

  <%= link_to 'Edit Meeting',
              edit_meeting_path(@meeting),
              class: 'btn' %>

  <button data-target="delete-meeting-modal" class="btn danger modal-trigger">
    Delete Meeting
  </button>
  <%= render partial: 'meetings/delete_modal', locals: { meeting: @meeting } %>

  <h3>Meeting with:</h3>
  <%= render partial: 'advisees/details' %>

  <% if @meeting.description %>
    <p><%= @meeting.description %></p>
  <% end %>

  <div id="meeting-notes">
  </div>
</div>
